@import url(./font/style.css);

html{
    font-size: 100%;
    font-family: sans-serif;
}

body{
    background-image: url(img/bg.webp);
    background-size: cover;
    background-attachment: fixed;
}


.ucitele{
    display:flex;
    margin-left: 13%;
    overflow-x: scroll;
}



.card{
    box-shadow: 8px 2px 8px grey;
    background-color: white;
    padding: 1.5em;
    display: inline-block;
    margin: 15em 1.5em 1.5em 1.5em;
    width: 15em;
    
}

.obličej{
    width: 9em;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
    object-position: 0% 0%;
    box-shadow: 0 0 4px grey;
    margin: auto;
    display: block;
    margin-top: -6em;
    border-radius: 100%;
    border: .1em solid white;

}
.card__name{
    border-bottom: 1.5px solid black;
    font-weight: bold;
}

.icon-mobile{
    color: rgb(194, 67, 67);
}

.icon {
    padding-right: .5em;
    font-size: 1.2em;
}